body {
  background-color: #cdcdcd;
  opacity: 1;
  background-size: cover;
}

.brandcontainer {
  display: block;
  width: 20%;
  float: left;
}

.linkscontainer {
  display: block;
  width: 80%;
  float: right;
}

li {
  display: inline;
}

ul {
  float: right;
}
